<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sudoku solver</title>
    <link rel="stylesheet" href="{{ url_for('static', filename ='css/main.css') }}">
</head>
<body>
{% block heading %}{% endblock %}
<div class="row">
    <h2>Select a file to upload</h2>
    <p>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    </p>
    <form method="post" action="/" enctype="multipart/form-data">
        <dl>
            <p>
                <input type="file" name="file" class="form-control" autocomplete="off" required>
            </p>
        </dl>
        <p>
            <input type="submit" value="Submit" class="btn btn-info">
        </p>
    </form>
</div>
<div id="display">
 {% if filename %}
    <div>
        <img src="{{ url_for('display_image', filename=filename) }}" height = "1000" width="500">
    </div>
    {% endif %}
</div>

</body>
</html>